body {
  margin: 0;
}

.globaleSection {
  height: calc(100vh - 4rem);
  width: 90%;                
  margin: 0 auto;           
  display: flex;            
  justify-content: space-between; 
}

.divLeft {
  width: 45%;                
  /* background-color: lightgray;  */  
  display: flex;              
  justify-content: center;   
  align-items: center;        
}

.imageLeft {
  width: auto;   
  height: 32rem;   
  object-fit: contain;
}

.divRight {
  width: 55%;                
  /* background-color: lightblue;  */
  display: flex; 
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
}

.name {
  font-size: 3rem;
}

.fullstack {
  font-size: 2rem;
  margin: 0;
}

.jobTitle {
  font-size: 1.5rem;
  margin: 0;
}

.jobTitleContainer {
  display: inline-block;
  min-height: 1.5em;
  transition: opacity 0.5s ease;
}

