body {
  margin: 0;
}

.globaleSection {
  height: calc(100vh - 4rem);
  width: 90%;                
  margin: 0 auto;           
  display: flex;            
  justify-content: space-between; 
}

.divLeft {
  width: 45%;                
  /* background-color: lightgray;  */  
  display: flex;              
  justify-content: center;   
  align-items: center;        
}

.imageLeft {
  width: auto;   
  height: 32rem;   
  object-fit: contain;
}

.divRight {
  width: 55%;                
  /* background-color: lightblue;  */
  display: flex; 
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
}

.name {
  font-size: 3rem;
}

.fullstack {
  font-size: 2rem;
  margin: 0;
}

.jobTitle {
  font-size: 1.5rem;
  margin: 0;
}

.jobTitleContainer {
  display: inline-block;
  min-height: 1.5em;
  transition: opacity 0.5s ease;
}

/* Animation de rotation rapide et agrandissement */
@keyframes imageZoomRotate {
  0% {
    transform: scale(0.2) rotate(0deg); /* Début - petite taille et non tournée */
  }
  100% {
    transform: scale(1) rotate(1440deg); /* Fin - taille normale après 4 rotations complètes */
  }
}

.imageLeft {
  width: auto;
  height: 32rem; /* Hauteur de l'image */
  object-fit: contain;
  animation: imageZoomRotate 2s ease-out forwards; /* Animation rapide */
}

.jobTitleContainer {
  display: inline-block;
  min-height: 1.5em;
  transition: opacity 0.5s ease;  
  font-size: 2.3rem;
  color: transparent; /* Rendre le texte transparent pour voir le gradient */
  background: linear-gradient(90deg, #ff6a00, #ff78b9, #378ffb); 
  background-clip: text; /* Applique le gradient au texte */
}