.sectionMyTools {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;       /* centrage vertical */
  justify-content: center;   /* centrage horizontal */
}

.container {
  width: 100%;
  text-align: justify;
}


