.header {
  position: sticky;
  top: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
  z-index: 10;
  color: #333;  
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav {
  font-weight: 600;
  font-size: 1rem;
}

.navList {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 4rem;
}

.navItem {
  padding: 1rem;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, color 0.2s;
}

.navItemVisible {
  opacity: 1;
}

.navItem:hover {
  transform: scale(1.1);  /* Applique un zoom de 10% sur la taille de la police */
}

.navItemActive {
  border-color: #1da9cc;
}

.navLink {
  text-decoration: none;
  color: inherit;
}

.navFlag {
  display: flex;
  /* align-items: center; */
  gap: 0.4rem;
  position: absolute;
  right: 2rem;
}

.frenchFlag {
  width: 27px;
  height: 27px;
}

.buttonFlag {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
