@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:wght@300&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;          /* Garantir que html et body occupent toute la hauteur */
  margin: 0;             /* Réinitialiser la marge par défaut */
  padding: 0;            /* Réinitialiser le padding par défaut */
  overflow-x: hidden;    /* Eviter le défilement horizontal */
  font-family: 'Funnel Sans', sans-serif;
}